* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Open Sans", Arial, sans-serif;
}
.product-cart {
    position: absolute;
    left: 0px; top: 0px;
    max-width: 362px;
    height: 428px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    background: #fff;
}
.product-cart .preview-image{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 274px;
    max-height: 274px;
    height: 286px;
    padding: 10px;
    border-bottom: 1px dashed #ccc;
    overflow: hidden;
}
.product-cart .preview-image img{
    width: auto;
    height: 100%;
}
.product-cart .specs{
    display: flex;
    justify-content: space-between;
    min-height: 98px;
    max-height: 98px;
}
.product-cart .specs .left{
    width: 75%;
    margin-left: 10px;
}
.product-cart .specs .right{
    width: 25%;
    margin-right: 10px;
    text-align: right;
}
.product-cart .specs .left .product-title{
    margin-top: 10px;
    font-size: 18px;
    height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.product-cart .specs .left .short-description>p{
    margin-top: 10px;
    font-size: 16px;
    height: 24px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;}
.product-cart .specs .left .category-name{
    margin-top: 10px;
    font-size: 14px;
    height: 19px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}
.product-cart .specs .right .price{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.product-cart .specs .right .price .value{
    margin-top: 10px;
}
.product-cart .specs .right .price .currency{
    margin-top: 10px;
}
.product-cart .preview-button{
    margin-top: 10px;
    width: 100%;
    background: #47a447;
    border: 1px solid #47a447;
    border: 0;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    transition: .3s;
    border-radius: 0 0 4px 4px;
}
.product-cart:hover{
    cursor: pointer;
}
.product-cart:hover .preview-button{
    cursor: pointer;
    background: #fff;
    color: #47a447;
    transition: .3s;
    border: 1px solid #47a447;
}
.product-cart .preview-button .fa-shopping-cart{
    margin-left: 10px;
}
.product-cart .preview-button:hover{
    cursor: pointer;
}

@media(max-width: 991px) {
    .product-cart {
        min-width: 310px;
        margin: 10px auto;
        right: 0;
    }
}