<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpsBinding_IGPWebService1" maxBufferPoolSize="2147483647"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" />
          <security mode="Transport" />
        </binding>
        <binding name="GPWebServiceSoap" />
        <binding name="BasicHttpsBinding_ITsgRatesService1">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpsBinding_IGPWebService11">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://www.bizcurrency1.com/GPWebServiceBeta/IGPWebService1.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IGPWebService1"
        contract="TsgGPWebService.IGPWebService1" name="BasicHttpsBinding_IGPWebService1" />
      <endpoint address="https://www.bizcurrency1.com/TsgRatesService/TSGRatesService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_ITsgRatesService1"
        contract="TSGRatesService.ITsgRatesService1" name="BasicHttpsBinding_ITsgRatesService1" />
      <endpoint address="http://www.bizcurrency1.com/gpwsbeta/GPWS.asmx"
        binding="basicHttpBinding" bindingConfiguration="GPWebServiceSoap"
        contract="TSGgpwsbeta.GPWebServiceSoap" name="GPWebServiceSoap" />
      <endpoint address="https://www.bizcurrency.com/GPWebServiceWKYCBetaToken/IGPWebService1.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IGPWebService11"
        contract="TsgGPWebService.IGPWebService1" name="BasicHttpsBinding_IGPWebService11" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
